html {
    height: inherit;
    margin: 0;
}

body {
    min-height: calc(100vh - 70px);
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 35px 0 35px 0;  /* Reset default margin */
}

#container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 20px; /* Adjust spacing between items */
    padding: 20px;
    width: min(90vw, 800px); /* Ensures a responsive max width */
}

#container div {
    border-radius: 15px;
    background-color: var(--odd);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    aspect-ratio: 1/1; /* Ensures perfect square */
    overflow: hidden;
    transition: all 0.3s;
}

#container a {
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
    text-align: center;
    width: 100%;  
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

#container div:hover {
    background-color: var(--highlight-contrast);
}

#container div:hover > a {
    color: var(--highlight-text);
}

h1 {
    font-size: 50px;
    font-weight: 600;
    color: var(--highlight-text);
}

.navigate {
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 15px;
    padding: 0;
    user-select: none;
}

.navigate div {
    width: 50%;
    text-align: center;
    background: var(--odd);
}

.navigate div:first-child {
    border-radius: 15px 0 0 15px;
}

.navigate .blocked {
    background-color: var(--blocked);
}

.navigate div:last-child {
    border-radius: 0 15px 15px 0;
}

.navigate div a {
    color: var(--text);
    text-decoration: none;
}

.navigate div:not(.blocked):hover {
    background-color: var(--even);
}

.form {
    width: min(60%, 1100px);
    height: 50px;
    max-height: 50px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: normal;
    align-content: center;
    align-items: center;
    margin: 0 0 20px 0;
    gap: 0;
}

.form form {
    width: 100%;
    height: 100%;
    outline: 0px solid var(--highlight-contrast);
    transition: all 0.15s ease-in-out;
}

.form form input {
    height: inherit;
    border: none;
    border-radius: 0;
    padding: 0;
    font-size: 15px;
    box-sizing: border-box;
    line-height: 50px;
    transition: all 0.15s ease-in-out;
}

.form form:focus-within {
    outline: 3px solid var(--button-hover);
}

.form form input::placeholder {
    color: var(--highlight-text);
}

.form form input:focus::placeholder {
    color: var(--highlight-contrast);
    font-weight: bold;
}

.form form input[type="text"] {
    width: 90%;
    background-color: var(--highlight-contrast);
    text-align: center;

    color: var(--highlight-text);
}

.form form input[type="text"]:focus {
    outline: none;
    background-color: var(--button-hover);
    color: var(--highlight-contrast);
    font-weight: bold;
}

.form form input[type="submit"] {
    width: 10%;
    background-color: var(--button-hover);
    font-weight: bold;
}

div.form form input[type="submit"]:hover {
    background-color: var(--button-hover);
    color: var(--highlight-contrast);
}

.form form:focus-within input[type="submit"] {
    background-color: var(--highlight-contrast);
    color: var(--highlight-text);
}