.overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    display: none;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}

.overlay #map {
    width: 90%;
    height: 90%;
}

.overlay #timeline {
    width: 90%;
    height: 90%;
}

.overlay button {
    position: fixed;
    right: 1%;
    top: 1%;
    width: 1.5625%;
    height: 3.2362%;
    background-color: var(--highlight-contrast);
    border: 1px solid var(--highlight-text);
    color: var(--highlight-text);
    transition: all 0.25s;
}

.overlay button:hover {
    background: var(--button-hover);
}

.toggle {
    background-repeat: no-repeat;
    background-size: contain;
    width: 4.3478%;
    height: 9.0014%;
    position: fixed;
    transform: translate(-50%,-50%);
    transition: all 0.15s;
    display: none;
    left: 3%;
}

.toggle:hover {
    width: 5.4347%;
    height: 11.2517%;
}

#map-toggle {
    top: 50%;
    background-image: url("../icons/map_icon.png");
}

#timeline-toggle {
    display: block;
    top: 35%;
    background-image: url("../icons/timeline_icon.png");
}