:root {
    --text: #bab8b6;
    --darker-text: #76726f;
    --highlight-text: #2dcc2d;
    --blocked: #181a1b;
    --even: #282c2e;
    --odd: #1e2222;
    --highlight-contrast: #0e361e;
    --bg: #0a0b0b;
    --button-hover: #1c7d1c;
}

@layer {
    * {
        scrollbar-color: #373b3e #1a1c1d;
    }
}

img {
    pointer-events: none;
}